WALLET_KEY=your twenty four word secret network wallet mnemonic goes here
MONERO_MNEMONIC=your twenty five word monero wallet mnemonic goes here
MONERO_WALLET_PASSWORD=bridge123
MONERO_RESTORE_HEIGHT=3300000
XMR_CONFIRMATION_THRESHOLD=20
MONERO_DAEMON_HOST=node.moneroworld.com
MONERO_DAEMON_PORT=18089
